---
layout: default
title: Mercados
---

<section class="hero">
    <h1 class="hero-title">Mercados</h1>
    <p class="hero-subtitle">Acompanhe as principais movimentações do mercado financeiro</p>
</section>
<div class="category-container">
    <!-- Grid de Notícias -->
    <div class="news-grid-infomoney">
        {% assign mercados_posts = site.posts | where: "categories", "Mercados" %}
        {% for post in mercados_posts %}
        <a href="{{ post.url | relative_url }}" class="news-card-infomoney">
            <div class="news-image-container">
                <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="news-image-infomoney">
            </div>
            <div class="news-content-infomoney">
                <div class="news-categories">
                    {% for category in post.categories %}
                    <span class="news-category" data-category="{{ category | downcase }}">{{ category }}</span>
                    {% endfor %}
                </div>
                <h2 class="news-title-infomoney">{{ post.title }}</h2>
                <div class="news-meta-infomoney">
                    <span class="news-time">{{ post.date | date: "%d/%m/%Y às %H:%M" }}</span>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>